html,
body {
    width: 100%;
    height: 100%;
}

.webgl-container,
.react-container {
    position: absolute;
    top: 0;
}

.react-container {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.webgl-container {
    z-index: 0;
}


.react-container {
    color: #FFF;
}

.variables-display {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
}
