html,
body {
    width: 100%;
    height: 100%;

}

.webgl-container,
.react-container {
    top: 0;
    width: 100%;
    height: 100%;
}

.react-container {
    position: absolute;
    z-index: 1;
}

.webgl-container {
    position: fixed;
    z-index: 0;
}


.react-container {
    color: #FFF;
}

.variables-display {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
}

.frame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.half-size {

    }
}
