html,
body {
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.webgl-container,
.story-container {
    width: 100%;
    height: 100%;
}

.webgl-container {
    position: fixed;
}

.react-container {
    color: #FFF;
}
.frame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.short {
        height: 75%;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.4;
    }
    h2 {
        font-size: 2rem;
        line-height: 1.6;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    h4 {
        font-size: 1.3rem;
        line-height: 1.6;
    }
    p {
        font-size: 1rem;
        line-height: 1.6;
    }

    h1,
    p {
        max-width: 500px;
        text-align: center;
    }
}

