html,
body {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    position: relative;
}

* {
    box-sizing: border-box;
}

.webgl-container,
.story-container {
    width: 100%;
    height: 100%;
}

.webgl-container {
    position: fixed;
}

.story-container {
    position: absolute;
}

.display {
    position: fixed;
    bottom: 0;
    left: 0;
}

.react-container {
    color: #FFF;
}
.frame {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding: 0 4vw;

    &.short {
        height: 75%;
    }

    &.long {
        height: 125%;
    }

    &.lowered {
        &:first-child {
            padding-top: 30%;
        }
    }

    &.raised {
        &:last-child {
            padding-bottom: 30%;
        }
    }

    &.very-raised {
        justify-content: flex-start;
        padding-top: 20%;
    }

    &.top-aligned {
        justify-content: flex-start;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.4;
    }
    h2 {
        font-size: 2rem;
        line-height: 1.6;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    h4 {
        font-size: 1.3rem;
        line-height: 1.6;
    }
    p {
        font-size: 1.3rem;
        text-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.3);
        line-height: 1.3;
        margin-bottom: 1.3rem;
        width: 100%;
    }

    var {
        @include font-fixed();
        font-weight: normal;
        background: rgba(128, 128, 255, 0.1);
        border: 0.5px solid rgba(255, 255, 255, 0.1);
        padding: 0 4px;
    }

    h1,
    h2,
    h3,
    h4,
    p {
        max-width: 500px;
    }
}

