html {
    -webkit-font-smoothing: antialiased;
}

@mixin font-serif() {
    font-family: 'PT Serif', serif;
}
@mixin font-sans-serif() {
    font-family: 'Source Sans Pro', sans-serif;
}
@mixin font-display() {
    font-family: 'Contrail One', cursive;
}
@mixin font-fixed() {
    font-family: 'Inconsolata', monospace;
}

h1 {
    @include font-serif();
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    @include font-serif();
}

p {
    @include font-sans-serif();
    font-weight: 600;
}

.fixed-font {
    @include font-fixed();
}

u {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.75);
}
.i {
    font-style: italic;
}

.op-75 {
    opacity: 0.75;
}

.white {
    color: #ffffff;
}
.yellow {
    color: #ffd700;
}

.blue {
    color: #357edd;
}

.left-aligned {
    text-align: left;
}

.pad-top-1 { padding-top: 1rem; }
.pad-top-2 { padding-top: 2rem; }
.pad-top-3 { padding-top: 3rem; }
.pad-top-4 { padding-top: 4rem; }
.pad-top-5 { padding-top: 5rem; }

blockquote {
    @include font-serif();
    font-size: 1.3rem;
    line-height:1.6rem;
    padding: 0.8rem 0;
}
