html {
    -webkit-font-smoothing: antialiased;
}

@mixin font-serif() {
    font-family: 'PT Serif', serif;
}
@mixin font-sans-serif() {
    font-family: 'Source Sans Pro', sans-serif;
}
@mixin font-display() {
    font-family: 'Contrail One', cursive;
}
@mixin font-fixed() {
    font-family: 'Inconsolata', monospace;
}

h1 {
    @include font-serif();
}

h2,
h3,
h4,
h5,
h6 {
    @include font-serif();
}

p {
    @include font-sans-serif();
    font-weight: 600;
}

.fixed-font {
    @include font-fixed();
}

u {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.75);
}
.i {
    font-style: italic;
}

.op-75 {
    opacity: 0.75;
}

.white {
    color: #ffffff;
}
.yellow {
    color: #ffd700;
}

.blue {
    color: #357edd;
}

.left-aligned {
    text-align: left;
}
